::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
  margin-top: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #212121;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
body {
  padding: 0;
  color: #757575;
  background-color: #FFF;
  font-family: "Roboto", sans-serif;
}

.header__logo {
  color: #000;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.blue {
  color: #2196F3;
}

.header__list {
  color: #212121;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header__site-nav {
  width: 281px;
  margin-left: -150px;
}

.header__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.header__contacts-list {
  padding-left: 344 px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 281px;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ececec;
}

.header__contacts-list .header__site-number:hover {
  color: #2196F3;
}

.header__site-number:hover .header__icon {
  fill: #2196F3;
}

.header__icon {
  margin-right: 10px;
  fill: #757575;
}

.header__site-link {
  position: relative;
}

.header__site-link.current::after {
  content: " ";
  display: block;
  background-color: #2196F3;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -37px;
}

.header__site-link:not(:last-child) {
  text-decoration: none;
  color: #212121;
  margin-right: 50px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
}

.header__site-link:hover,
.header__site-link:focus {
  color: #2196F3;
}

.header__site-number {
  margin-left: 50px;
  font-weight: 500;
  color: #757575;
}

.post {
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;
}

.post__title {
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.post__button {
  color: #ffffff;
  background: #2196F3;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
}

.post__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .post__title {
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 2.64px;
  }
  .post {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #FFF;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-button {
  width: 30px;
  height: 30px;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 8px;
  margin-left: 490px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-icon {
  fill: #000;
}

.modal-icon:hover,
.model-icon:focus {
  fill: #2196F3;
}

.modal-form {
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.modal-form-title {
  text-align: center;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form-field {
  position: relative;
}

.box-close {
  width: 30px;
  height: 30px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.modal-title {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-align: center;
}

.form-input {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #212121;
  width: 448px;
  cursor: pointer;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.form-input:focus-within {
  border: 1px solid #2196F3;
}

.form-input:focus-within + .modal-svg {
  fill: #2196F3;
}

.agree-btn {
  padding: 10px 30px;
  min-width: 200px;
  text-align: center;
  color: #fff;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
}

textarea {
  display: block;
  width: 432px;
  resize: none;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #212121;
  padding-top: 12px;
  padding-left: 16px;
}

.modal-form-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  letter-spacing: 0.42px;
  color: #757575;
  margin-bottom: 30px;
}

.modal-form-policy.checkbox {
  margin-right: 7px;
  width: 16px;
  height: 15px;
}

[type=checkbox], [type=radio] {
  margin-right: 7px;
  cursor: pointer;
}

.modal-form-policy-link {
  color: #2196F3;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration: underline;
  cursor: pointer;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

.benefits__block {
  min-width: 290px;
  max-width: 450px;
  margin-bottom: 30px;
}

.banefits__block-wrap {
  background-color: #F5F4FA;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits__name {
  color: #212121;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.benefits__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.benefits__img {
  width: 70px;
  height: 70px;
}

.benefits__block-wrap {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .benefits__block {
    width: 354px;
  }
  .benefits__name {
    text-align: left;
  }
}
@media screen and (min-width: 1199px) {
  .benefits__block {
    margin-bottom: 0;
    width: 270px;
  }
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.activity {
  padding-bottom: 94px;
  margin-top: 50px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .activity {
    padding-bottom: 94px;
    margin-top: 50px;
    display: block;
  }
  .activity__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .activity__title {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-align: center;
    margin-bottom: 50px;
  }
  .activity__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .activity__img {
    width: 370px;
    height: 294px;
  }
  .activity__text {
    position: absolute;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 0.42px;
    bottom: 0px;
    left: 0px;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .section-title {
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-align: center;
    margin-bottom: 50px;
  }
}
.team {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__title {
  color: #212121;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 30px;
}

.team__card {
  min-width: 290px;
  max-width: 450px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  background-color: #FFF;
  margin-bottom: 30px;
}

.team__name {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__position {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  text-align: center;
}

.social__net-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.social__net-item {
  margin-left: 17px;
}

.social__list-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__list-link:focus,
.social__list-link:hover {
  background-color: #2196F3;
  fill: #FFF;
}

@media screen and (min-width: 768px) {
  .team__card {
    width: 354px;
  }
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1199px) {
  .team__card {
    width: 270px;
  }
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.clients {
  padding-top: 60px;
  padding-bottom: 30px;
}

.name__clients {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1.08px;
  color: #212121;
  margin-bottom: 30px;
}

.clients__link {
  min-width: 140px;
  max-width: 210px;
  margin-bottom: 30px;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .name__clients {
    font-size: 28px;
  }
}
@media screen and (min-width: 1199px) {
  .name__clients {
    font-size: 30px;
    margin-bottom: 60px;
  }
}
.footer__email {
  color: #757575;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  cursor: pointer;
  margin-right: 50px;
}

.footer__email {
  margin-bottom: 9px;
}

.footer__logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
  margin-bottom: 20px;
}

.page__footer {
  background-color: #2F303A;
  padding-top: 60px;
  font-size: 14px;
  padding-bottom: 60px;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.address {
  color: #ffffff;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.footer__email,
.tel {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.white {
  color: #ffffff;
}

.address__text {
  color: #FFF;
  margin-bottom: 9px;
  cursor: pointer;
  letter-spacing: 1.08px;
  font-style: normal;
  margin-top: 20px;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1.08px;
}

.social__net-footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sn__border-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.sn__border-footer:hover,
.sn__border-footer:focus {
  background-color: #2196F3;
}

.footer__social-title {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__form-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 255px 15px 16px;
  margin-right: 12px;
}

.footer-form__submit-btn {
  border-radius: 4px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 10px 28px;
  color: #FFF;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-icon {
  margin-left: 10px;
}

.title-portfolio {
  display: none;
}

.btn {
  border-radius: 4px;
  background: #F5F4FA;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-left: 8px;
  border: none;
  padding: 6px 22px;
  line-height: 26px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #2196F3;
  color: #FFF;
}

.portfolio__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio__flex li {
  -ms-flex-preferred-size: calc((100% - 20px) / 3);
      flex-basis: calc((100% - 20px) / 3);
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.portfolio__flex img {
  max-width: 100%;
}

.portfolio__flex .item-title {
  margin: 10px 0;
}

.portfolio__flex p {
  margin: 0;
}

.portfolio__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.portfolio__navigation li {
  margin: 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.portfolio__navigation img {
  max-width: 100%;
}

.portfolio__navigation .item-title {
  margin: 10px 0;
}

.portfolio__navigation p {
  margin: 0;
}

.list__title {
  color: #212121;
}

.portfolio__section {
  padding-top: 94px;
  padding-bottom: 94px;
}/*# sourceMappingURL=main.css.map */