.clients__list{
    display: flex;
    margin-left: -30px;
}
.clients__item{
    margin-left: 30px;
}
.clients__link{
    width: 170px;
    height: 92px;
    border: 1px solid $svg-color;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    fill: var(--svg-color);
}
.clients__icon{
    width: 106px;
    height: 60px;

}
.clients__link:hover,
.clients__ink:focus{
    fill: $background-button-color;
    border-color: $background-button-color;
}