.footer__email{
    color: var(--primary-text-color);
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
    cursor: pointer;
   margin-right: 50px;
   
    
}
.footer__email{
    margin-bottom: 9px;
}
.footer__logo{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
    margin-bottom: 20px;
}
.page__footer{
    background: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom:60px ;
}
.footer__contact{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.adress{
    color: var(--second-text-color);
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
    cursor: pointer; 
}
