$primary-text-color: #757575;
$title-text-color: #212121;
$second-text-color: #ffffff;
$background-button-color: #2196F3;
$primary-background-color: #FFF;
$background-team-color: #F5F4FA;
$logo-color: #000;
$secondary-background-color: #2F303A;
$svg-color:#AFB1B8;